.slide {
  overflow: hidden;
  height: 800px;
  /* display: flex !important;
  align-content: center;
  align-items: center; */
}

.image-wrap {
  height: 770px;
  width: 100%;
  display: flex !important;
  background-color: #f3f3f3;
  justify-content: center;
  align-items: center;
}

.image {
  max-width: 510px;
  width: 100%;
  height: auto;
}

.slick-dots {
  height: 50px;
}

.prev-arrow {
  z-index: 10;
  transform: translate(150%, -50%) !important;
  background-color: black;
}

.next-arrow {
  transform: translate(-150%, -50%) !important;
  background-color: black;
}
