@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

@font-face {
  font-family: "nanum";
  src: url("font/nanumson.ttf");
}

@font-face {
  font-family: "myeonjo-regular";
  src: url("font/Nanum_Myeongjo/NanumMyeongjo-Regular.ttf");
}

@font-face {
  font-family: "Noto_Serif_KR-regular";
  src: url("font/Noto_Serif_KR/NotoSerifKR-Regular.otf");
}

.App {
  text-align: -webkit-center;
  justify-content: center;
  line-height: 1.6rem;
  /* background-color: #c5e5fd; */
  font-family: Noto_Serif_KR-regular;
}

.body-wrap {
  max-width: 420px;
  /* background-color: #f5f5f5; */
}

p {
  margin: 0;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* section:first-child {
  margin: 0;
}

section {
  margin: 100px 0px;
} */
